* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html {
    font-size: 61.5%;
}

body {
    font-family: 'Montserrat', sans-serif;
    width: 100%;
    height: 100vh;
}

.header {
    width: 100%;
    height: 100px;
    padding: 20px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: #06125a;
}

.header__title {
    font-style: italic;
    color: #fff;
}
.header__nav-icons {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: rgba(0, 0, 0, 0.3);
}
.header__nav-icons img {
    width: 20px;
}
.header__nav-icons .icon-hamburger {
    display: block;
}
.header__nav-icons .icon-close-menu {
    display: none;
}
.main__title {
    text-align: center;
    margin: 20px 0;
}
.article__movie {
    width: 300px;
    padding: 20px;
    margin: 0 auto;
    margin-bottom: 20px;
    border-radius: 10px;
    box-shadow: 2px 2px 2px 2px rgba(0, 0, 0, 0.3);
    text-align: center;
}
.article__image {
    margin-bottom: 20px;
}
.article__title {
    font-size: 1.6rem;
    margin-bottom: 10px;
}
.buttons__container {
    margin: 25px;
}
.article__button--rent, .article__button--buy {
    width: 80px;
    height: 30px;
    border-radius: 15px;
    border: none;
    outline: none;
}
.article__button--rent {
    margin-right: 10px;
    border: 1px solid #06125a;
}
.article__button--buy {
    color: #fff;
    background-color: #06125a;
}
.article__description {
    text-align: justify;
    font-size: 1.2rem;
}
.article__price {
    list-style: none;
}
.article__price li {
    margin: 5px;
}

